@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}


<h1>Listado de Mascotas</h1>
<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Color</th>
        <th>Especie</th>
        <th>Raza</th>
         <th>Detalles<th>
        <th>Editar</th>
        <th>Modificar</th>
         <th>Eliminar</th>
    </tr>
    @foreach (var mascota in Model.listaMascotas)
    {
        <tr>
            <td>@mascota.Nombre </td>
            <td>@mascota.Color</td>
            <td>@mascota.Especie</td>
            <td>@mascota.Raza</td>
                        
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id"> <i class="fa-solid fa-eye ms-1"></i>
                    
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id"><i class="fa-solid fa-pencil ms-1"></i>
                    
                </a>
            </td>

        </tr>
    }
</table>

<a class = "btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default">Adicionar Mascota</a>